/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

/* HEADER */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

.headerlogo-web {
    color: #4D5AE5;
}

.headerlogo-web .headerlogo-studio {
    color: #2E2F42;
}

.header-menuitem {
    font-weight: 500;
    color: #2E2F42;
}

.header-menuitem:hover .header-menuitem:focus {
    color: #404BBF;
}

#studio:active {
    text-decoration: underline;
}

.header-contactitem {
    color: #434455;
}
.header-contactitem:hover {
    color: #404BBF;
}
.header-contactitem:focus {
    color: #404BBF;
}

/* MAIN */
/* 1 section */
.main-intro {
    background-color: #2E2F42;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

.main-title {
    color: #FFFFFF;
}

.main-button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    } 

.main-button:hover 
.main-button:focus {
    background-color: #404BBF;
}

/* 2 section */
.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* h3 */
.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-description {
    color: #434455;
}

/* 3 section */
.main-team {
    color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}

/* h3 */
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.team-role {
    color: #434455;
    letter-spacing: 0.02em;
}

/* 4 section */
/* h3 */
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize
}

.portfolio-category {
    color: #434455;
    letter-spacing: 0.02em;
}

/* FOOTER */

footer {
    background-color: #2E2F42;
}

.footer-description {
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footerlogo-web {
    color: #4D5AE5;
}

.footerlogo-studio {
    color: #F4F4FD;
}

