/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: #2E2F42;
    background-color: #FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

/* HEADER */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03;
    line-height: 1.17;
    text-transform: uppercase;
}

.headerlogo-web {
    color: #4D5AE5;
}

.header-menuitem {
    font-weight: 500;
}

.header-menuitem:hover {
    color: #404BBF;
}

#studio:active {
    text-decoration: underline;
}

.header-contactitem {
    color: #434455;
}
.header-contactitem:hover {
    color: #404BBF;
}
.header-contactitem:focus {
    color: #404BBF;
}

/* MAIN */

.main-intro {
    background-color: #2E2F42;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02;
    line-height: 1.07;
    text-align: center;
}

.main-title {
    color: #FFFFFF;
}

.main-button {
    font-weight: 500;
    letter-spacing: 0.04;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    } 

.main-button:hover {
    background-color: #404BBF;
}

.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02;
}

/* h3 */
.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02;
}

.feature-description {
    color: #434455;
}

/* h3 */
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02;
}

.team-role {
    color: #434455;
}

/* h3 */
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02;
}

.portfolio-category {
    color: #434455;
}

/* FOOTER */
.footer-description {
    color: #F4F4FD;
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03;
    line-height: 21px;
    background-color: #2E2F42;
    text-transform: uppercase;
}

.footerlogo-web {
    color: #4D5AE5;
}

.footerlogo-studio {
    color: #F4F4FD;
}

